{erl_opts, [debug_info, {d, maps_support}]}.
{edoc_opts, [{dir, "edoc"}]}.
{deps, [{erlware_commons, "0.15.0"},
       %% https://github.com/seansawyer/erlang_iso8601/pull/21
       {'iso8601', ".*",
        {git, "https://github.com/oubiwann/erlang_iso8601.git",
          {ref, "fix-erlang-18-compile-issue"}}},
       %% {'iso8601', ".*",
       %%  {git, "git@github.com:seansawyer/erlang_iso8601.git",
       %%   {ref, "master"}}},
        {hackney, "1.0.6"},
        {jsx, "2.7.1",
         {git, "https://github.com/talentdeficit/jsx.git",
          {tag, "v2.7.1"}}}]}.

{ct_opts, [{ct_hooks, [cth_readable_shell]}]}.
{profiles, [
    {test, [
        {deps, [
            {cth_readable,
                {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}},
            {meck,".*",
                    {git,"https://github.com/eproxus/meck.git",
                        {tag, "0.8.3"}}}
       ]}
   ]}
]}.
